*{
    margin: 0;
}
h1{
    color: white;
}
header{
    background-color: #1d7044;
    width: 100%;
    color: white;
    padding: 0;
    align-items: center;
    height: 100px;
}
#h2-header{
    font-size: 35px;
    text-align: center;
    justify-content: center;
}
#button-header{
    border: none;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 15px;
    background-color: #114b2c;
}
#buttonHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h2-header, button{
    margin: 0;
}
#text-container{
    display: flex;
}
#sub-textcontainer{
    display: flex;
}
.erro{
    color: red;
    text-align: center;
}
.sucesso{
    color: green;
    font-weight: bold;
    text-align: center;
}
img{
    width: 240px;
    height: 140px;
}

#titulo-principal{
    color: #1d7044;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 226, 239);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#container{
    background-color: #cdeec7;
    width: 55%;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    height: 30rem;
    box-shadow: 5px 10px 15px #1d7044;
    
}
#input-container{
    margin-left: 60px;
    width: 85%;
}

.button {
    background-color: #1d7044;
    color: white;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    color:#1d7044;
}
.button{
    background-color: #1d7044;
    color: #fff;
    padding: 0.62rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover{
    background-color: #114b2c;
    color: #fff;
    transform: scale(1.02);
}

.petDetalhe{
    margin-top: 5rem;
    background-color: #cdeec7;
    margin-bottom: 20px;
    height:  40vh;
    margin-right: 10%; 
    margin-left: 23%;
    box-shadow: 5px 10px 15px #1d7044;
    width: 55%;
    text-align: center;
    text-align: justify;
}

#containerLista{
    flex-direction: column; 
    justify-content: baseline;
    width: 55%;
}

 .hidden{
    display: none;
}   