<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>sigma notícias</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>Clínica Veterinária</h1>
        <nav class="menu">
            <ul>
                <li><a href="#" target="_parent" onclick="voltinha()" >CADASTRO</a></li>
                <li><a href="#"  target="_parent" onclick="renderizarConteudo()">EXIBIÇÃO</a></li> 
            </ul>
        </nav>
        <div class="buscar">
            <input class="seach-txt" type="text" name="" placeholder="buscar">
            <a class="search-btn" href="#"></a>
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </header>
</body>
</html>