* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
h1{
    color: white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1d7044;
    box-shadow: 0 5px 10px rgb(white);
    padding: 6px 10px;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
}

.menu ul li a {
    font-size: 18px;
    padding: 15px;
    color: white;
    display: block;
}

ul {
    margin-right: 200px;
}

.menu li a:hover {
    background: #cdeec7;
    color: black;
    border-radius: 10px;
}

.menu ul li ul {
    position: absolute;
    left: 0;
    width: 160px;
    background-color: rgb(3, 3, 30);
    display: none;
}

.menu ul li ul li {
    width: 100%;
    border-top: 1px solid #cdeec7 ;
}

.menu ul li:hover > ul {
   display: initial;
}

.buscar {
    margin-top: 30px;
    left: 50%;
    height: 40px;
    transform: translate(-50%,-50%);;
    padding: 10px;
}

.search-btn {
    color: black;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt { 
    background: none;
    outline: none;
    float: left;
    height: 50px;
    width: 100px;
}

input {
    background-color: #cdeec7;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

button {
    height: 40px;
    width: 30px;
    border-radius: 10px;
}
